{{> 'partials/header' title="Home" }}
    <main class="w-11/12 mx-auto lg:w-9/12">
      <section class="w-full">
        <iframe
          class="h-[200px] sm:h-[360px] lg:h-[569px] w-full"
          src="https://www.youtube.com/embed/TsQQxzvv-vY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </section>
    </main>

   
{{> 'partials/footer' }}


