{{> 'partials/header' title="Home" }}
    <main class="h-full">
      <section class="w-full h-5/6">
        <iframe
          class="w-11/12 h-48 mx-auto sm:w-3/5 sm:h-64 md:h-80 lg:h-96"
          src="https://www.youtube.com/embed/VlWs8ey2nyg"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </section>
    </main>
{{> 'partials/footer' }}

