{{> 'partials/header' title="Proyectos" }}
  <main class="w-11/12 mx-auto">
      <section>
      <figure>
         <img class="p-4" src="/img/coding.jpg" alt="this is a image about coding!">
      </figure>
   </section>
  </main>
 
{{> 'partials/footer' }}